openapi: 3.2.0
info:
  title: DR-NTU (Digital Repository) DSpace REST Items API
  description: Subset of the DSpace 7.6.3 (with DSpace-CRIS) HAL-based REST API as exposed by DR-NTU (Digital Repository of NTU). This description covers the publicly accessible, unauthenticated discovery operations verified against the live deployment at https://dr.ntu.edu.sg/server/api. Responses follow the HAL (Hypertext Application Language) convention with _embedded and _links. The full DSpace 7 REST contract (authenticated CRUD, submission, workflow) is documented upstream at https://wiki.lyrasis.org/display/DSDOC7x/REST+API and is intentionally not duplicated here.
  version: 7.6.3
  contact:
    name: DR-NTU (Digital Repository of NTU)
    url: https://dr.ntu.edu.sg/home
servers:
- url: https://dr.ntu.edu.sg/server/api
  description: DR-NTU (Digital Repository) production REST API
tags:
- name: Items
paths:
  /core/items/{uuid}:
    get:
      operationId: getItem
      summary: Get an item by UUID
      description: Returns a single DSpace item resource. Note that on this deployment, retrieving items outside of discovery may require authentication for restricted content.
      tags:
      - Items
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Item resource
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Item'
        '401':
          description: Authentication required for this resource
components:
  schemas:
    Item:
      type: object
      description: A DSpace item with Dublin Core / DSpace-CRIS metadata.
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        handle:
          type: string
          description: Persistent handle, e.g. 10356/213929.
        metadata:
          type: object
          description: Map of metadata field keys (e.g. dc.title, dc.contributor.author) to arrays of value objects.
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/MetadataValue'
        inArchive:
          type: boolean
        discoverable:
          type: boolean
        withdrawn:
          type: boolean
        type:
          type: string
          example: item
        uniqueType:
          type: string
          example: core.item
    MetadataValue:
      type: object
      properties:
        value:
          type: string
        language:
          type:
          - string
          - 'null'
        authority:
          type:
          - string
          - 'null'
        confidence:
          type:
          - integer
          - 'null'
        place:
          type: integer
x-operator: tenant
